@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&family=Oswald:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu TAS Beginner','Oswald', cursive , sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root {
    --main-color: #dc143c;
    --body-color: #090a1a;
    --container-color: #4169e1;
    --heading-color: #222123;
    --box-color: #0d0f26;
    --bg-color: snow;
}

body {
    color: var(--bg-colorbg-);
    max-height: 1200vh;
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

a {
    text-decoration: none;
    text-transform: capitalize;
}

li {
    list-style: none;
}

.container {
    max-width: 960px;
    margin: auto;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.nav-link {
    font-size: 1.2rem;
    padding: 4px 8px;
    border-radius: .6rem;
    color: var(--bg-color);
    transition: 0.6s ease;
}

.nav-link:hover {
    font-size: 1.4rem;
    color: var(--main-color) ;
    text-shadow: 1px 1px 2px seashell,
                  -1px -1px 2px aquamarine;
    background: var(--container-color);
    transform: scale(1.2rem);
    border-radius: 1rem;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: .6s;
}

.menu-icon div{
    display: none;
    background: var(--bg-color);
    height: 2px;
    width: 20px;
    transition: .2s;
}

.move .line1{
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2{
    opacity: 0;
}

.move .line3{
    transform: rotate(45deg) translate(-5px, -5px);
}

.home {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}

.home-content {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: transparent;
    overflow: hidden;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 4px snow,
    -2px -2px 4px snow;
}

.home-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-text h3 {
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-size: 1.2rem;
    color: var(--main-color);
}

.home-text h3::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    left: -15px;
    width: 20px;
    height: 2px;
    background: var(--main-color);
}

.home-text h3::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    right: -35px;
    width: 20px;
    height: 2px;
    background: var(--main-color);
}

.home-text h2 {
    text-transform: capitalize;
    font-size: 2.8rem;
    line-height: 3.6rem;
    letter-spacing: .1rem;
}

.home-text .color {
    color: var(--main-color);
}

.home-text p {
    font-size: 1rem;
    margin-bottom: 1.6rem;
}

.social {
    display: flex;
    align-items: center;
    column-gap: .6rem;
}

.social .bx {
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--bg-color);
    background: transparent;
    transition: .6s ease;
}

.social .bx:hover{
    text-shadow: 2px 2px 3px seashell,
    -2px -2px 3px aquamarine;
    background: slateblue;
}

.heading {
    font-size: 5rem;
    text-transform: uppercase;
    /*color: var(--heading-color);*/
    font-family: 'Courier New', Courier, monospace;
    color: transparent;
    background: transparent;
    text-align: center;
    margin-bottom: 2rem;
    -webkit-text-stroke: .9px snow;
    transition: .4s ease;
}
.heading:hover {
    color: snow;
    text-shadow: 0 0 10px greenyellow;
}


.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.about-data span {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}

.about-data h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-transform: capitalize;
    font-weight: 700;
    margin: 1rem 0 ;
}

.btn {
    font-size: 1rem;
    display: inline-block;
    align-items: center;
    color: var(--bg-color);
    column-gap: .5rem;
    background: transparent;
    padding: 10px 16px 10px 16px;
    border: 2px solid seashell;
    border-radius: 1.2rem;
    margin-top: 1rem;
}

.btn .bx {
    font-size: 1.2rem;
    color: var(--body-color);
}

.btn:hover {
    font-size: 1.2rem;
    color: var(--container-color);
    background: var(--main-color);
    transition: 0.6s all linear;
}

.about-text p {
    font-size: 1rem;
    letter-spacing: .1rem;
    text-align: justify;
    margin-bottom: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.services-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    background: var(--container-color);
    border-radius: 2rem;
}

.services-box:hover {
    box-shadow: 0 0 4px snow, 0 0 8px snow, 0 0 12px snow;
    background: transparent;
    transition: .6s all linear;
    transform: scale(1.1);
}

.services-box .bx {
    font-size: 1.4rem;
    color: var(--main-color);
    padding: 10px;
    border-radius: 50%;
    border: 2px solid seashell;
    transition: .4s ease;
}

.services-box .bx:hover {
    font-size: 1.4rem;
    color: var(--bg-color);
    padding: 10px;
    border-radius: 50%;
    border: 3px dashed crimson;
}

.services-box h2 {
    font-size: 1.2rem;
    color: var(--heading-color);
    margin: .5rem 0;
    font-weight: 600;
    text-transform: capitalize;
}

.services-box h2:hover {
    color: var(--main-color);
    text-shadow: 0 0 2px snow, 0 0 4px snow;
}

.services-box p {
    font-size: 1rem;
    font-weight: bold;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.portfolio-box {
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 2rem;
    overflow: hidden;
}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-overlay {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(234, 45%, 16%, .8);
}

.portfolio-box:hover .portfolio-overlay{
    top: 0;
    transition: .4s all ease ;
}

.portfolio-overlay h2 {
    color: var(--bg-color);
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.portfolio-overlay .bx {
    font-size: 1.4rem;
    color: var(--main-color);
    padding: 10px;
    border-radius: 50%;
    border: 2px solid seashell;
    transition: .4s ease;
}

.portfolio-overlay .bx:hover {
    background: snow;
    transform: translateY(12px);
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    gap: 2rem;
}

.projects-box {
    padding: 20px 10px;
    background: var(--container-color);
    border-radius: 1rem;
    text-align: center;
    transition: .4s ease;
}


.projects-box:hover {
    box-shadow: 0 0 4px snow, 0 0 8px snow, 0 0 12px snow;
    background: transparent;
}

.projects-box h2 {
    font-size: 1.4rem;
    font-weight: 700;
}

.projects-box h2:hover, .projects-box span:hover  {
    color: snow;
    transition: .4s ease;
}

.projects-box span {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}

.reviews {
    max-width: 720px;
    margin: auto;
    width: 100%;
}

.reviews-box {
    max-width: 500px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3,2rem !important;
}

.reviews-box .bx {
    font-size: 2rem;
    color: var(--bg-color);
    margin-bottom: 0.5rem;
}

.reviews-box .reviews-text {
    font-size: 1.1rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.reviews-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-portfolio h2 {
    font-size: 1.6rem;
    line-height: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color);
    margin-bottom: 1rem;
}

.reviews-portfolio span {
    font-size: 1.1rem;
    margin: 0 .5rem 1rem 0.7rem;
    text-transform: capitalize;
    color: var(--bg-color);
}

.reviews-portfolio img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 4rem;
    padding: 4px;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    border-radius: .3rem !important;
    background: var(--bg-color) !important;
    opacity: .9 !important;
}

.swiper-pagination-bullet-active{
    width: 1.5rem !important;
    background: var(--main-color) !important;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}

.contact-form input, .contact-form textarea {
    border: none;
    outline: none;
    font-size: .9rem;
    padding: 12px;
    color: var(--bg-color);
    background: var(--box-color);
    border-radius: 1rem;
}

.contact-form .send-btn {
    width: 120px;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 12px;
    cursor: pointer;
    font-weight: 500;
    transition: .4s ease;
}

.contact-form .send-btn:hover{
    background: transparent;
    box-shadow: 0 0 4px snow, 0 0 8px snow, 0 0 12px snow;
    color: var(--main-color);
}

































